@use "utils/variables" as *;
@use "utils/mixins" as *;
@use "components/buttons";
@use "components/hero";
@use "components/novedades";
@use "components/footer";
@use "layout/layout";
@use "components/clientes";
@use "components/contacto";
@use "components/sobre-nosotros";
@use "components/marcas";
@use "components/tarjetas-novedades";
@use "components/contacto_index";
@use "components/titulos";






body {
    font-family: 'Roboto', sans-serif;
    color: $font-color;
    background-color: rgb(255, 255, 255);
}

