@use "sass:color";
@use "../utils/variables" as *;

// Estilos de botones

.btn-primary {
    background-color: $primary-color;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.hero .btn-custom {
    background-color: $primary-color;
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
    }
}
