//Estilos del header

header {
    .navbar {
        padding: 15px 0;
    }

    .navbar-brand {
        font-size: 1.8rem;
    }

    .nav-link {
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
            color: #ffd700; // Amarillo dorado al pasar el mouse
        }
    }
}
