

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Barra lateral */
.barra-lateral {
    background-color: #030063;
    color: white;
    position: relative;
    padding: 1rem;
    width: 250px;
    margin-top: 0;
    height: calc(100vh - 56px);

    h5 {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1rem;

            a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                display: block;
                transition: color 0.3s ease;

                &:hover {
                    color: #00aaff;
                }
            }
        }
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .barra-lateral {
        position: relative;
        width: 100%;
        padding: 1rem;
        margin-top: 0;
        height: auto;
    }
}

/* Carruseles */
.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-img-top {
    height: 200px; // o el tamaño que prefieras
    object-fit: cover;
    object-position: center;
    width: 100%;
}
